<div id="header">

  <div class="conteiner">

    <div class="logo-left">Logo</div>
    
    <div class="menu-right">
      <a href="" class="">About</a>
      <a href="">Contact</a>
    </div>

  </div>

</div>