<%= render 'shared/header' %>

<div id="content-wrapper">
  <section class="pages clearfix">

    <!--start section title-->

    <!--start content left-->
    <div class="content-inner-left">

      <article class="blog-post">
          
          <div class="blog-post-content">

          <h2 class="blog-post-title">
          <%= @post.title %></h2>         
          <br />
          <p class="blog-post-text">
          <%= @post.content %>
        
        </div>

        </article>

        <%= render 'shared/social-media' %> 

      </div>

    </div>
