<%= render 'header' %>


<div id="content-wrapper">
    
        <section class="pages clearfix">

            <div class="content-inner-left">

                <div class="about-me-img">    

                    <%= image_tag("IMG_8201.jpg", :alt => "about me") %>

                </div>    

                    <article class="blog-post"> 
                   
                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit sagittis purus, non varius enim lacinia porta. Morbi condimentum, felis non blandit adipiscing, neque eros convallis arcu, vel vehicula arcu est et enim. Nulla et diam elit. Duis at turpis et massa vulputate semper. Nullam porttitor cursus sapien a scelerisque. Praesent id tortor non diam cursus scelerisque sed a risus. Sed in posuere urna. Vestibulum molestie felis id magna condimentum ullamcorper. Vestibulum ut orci ut risus porttitor dictum a eu massa.</P>

                        <P>Curabitur convallis, diam eget placerat iaculis, libero ligula ornare sapien, eget consectetur massa libero a neque. Curabitur urna ipsum, lobortis sed pulvinar ac, bibendum id ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque laoreet aliquet ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus porttitor lacus eget mauris facilisis adipiscing. Integer faucibus purus lacinia mauris volutpat iaculis. Vivamus sed dignissim tortor.</P>

                    </article>

            </div>

        </section>
     
</div>       