<%= render 'shared/header' %>


<div id="content-wrapper">
    
        <section class="pages clearfix">

            <div class="content-inner-left">

                <div class="about-me-img">    

                    <%= image_tag("IMG_8186.png", :alt => "about me") %>

                </div>    

                <div class="aboutme-content">

                    <article class="blog-post"> 
                   
                        <P>Jestem normalnym chłopakiem z Nowego Sącza który stara się wszystko co robi jak najlepiej umie i dawać innym dużo energii do robienia tych wszystkich rzeczy razem.</P>

                        <P>Tyle w jednym zdaniu poza tym ukończyłem studia na Uniwersytecie Ekonomicznym, od zawsze lubiłem nowe, trudne i nie znane mi rzeczy - nie ma nic lepszego niż proces poznania. Zajmuje się na co dzień IT - myśląc o tym co robię  myślę o tym co mówił einstein - "Życie można przeżyć tylko na dwa sposoby: albo tak, jakby nic nie było cudem, albo tak, jakby cudem było wszystko"</P>

                    </article>

                </div>    

            </div>

        </section>
     
</div>       