<%= render 'header' %>


<div id="content-wrapper">
    
        <section class="pages clearfix">

                <div class="content-inner-left">

                <article class="blog-post">  
                  <h1>Contact#index</h1>
                  <p>Find me in app/views/contact/index.html.erb</p>
                </article>

                </div>

       </section>
     
</div>      