<%= render 'header' %>

<div id="content-wrapper">
    
        <section class="pages clearfix">
                
                <div class="content-inner-left">
                    <article class="blog-post">  
                   
                        <iframe width="860" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=snycerska+34&amp;aq=&amp;sll=50.087558,20.07869&amp;sspn=0.191204,0.508804&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Snycerska+34,+Krak%C3%B3w,+ma%C5%82opolskie&amp;ll=50.02201,19.993422&amp;spn=0.005983,0.0159&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=snycerska+34&amp;aq=&amp;sll=50.087558,20.07869&amp;sspn=0.191204,0.508804&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Snycerska+34,+Krak%C3%B3w,+ma%C5%82opolskie&amp;ll=50.02201,19.993422&amp;spn=0.005983,0.0159&amp;z=14" style="color:#0000FF;text-align:left"></a></small>

                    </article>
                </div>

        
        <footer>
      
                <div class="column_two_thirds column-footer-widget last">
                    
                    <div class="widget_text">
                        <h6 class="widgettitle">Lorem ipsum</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit sagittis purus, non varius enim lacinia porta. Morbi condimentum, felis non blandit adipiscing, neque eros convallis arcu</p>
                        <p>Tel: +1 55 65 15 45 85/+1 65 98 56 45 45
                        Mail: <a href="">info@about.com</a></p>
                    </div>
                    
                </div> 

                </div>

        </footer>

       
       </section>
</div>      