<%= render 'shared/header' %>

<div id="content-wrapper">

    <section class="pages clearfix">

        <div class="content-inner-left">
            <article class="blog-post">

                <iframe width="860" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Ignacego+Krasickiego+21,+Krak%C3%B3w&amp;aq=t&amp;sll=50.046766,20.004863&amp;sspn=0.382736,1.017609&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Ignacego+Krasickiego+21,+Krak%C3%B3w,+ma%C5%82opolskie&amp;ll=50.042515,19.939441&amp;spn=0.011962,0.0318&amp;z=34&amp;output=embed"></iframe>
                <br />
                <small>
                    <a href="https://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=Ignacego+Krasickiego+21,+Krak%C3%B3w&amp;aq=t&amp;sll=50.046766,20.004863&amp;sspn=0.382736,1.017609&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Ignacego+Krasickiego+21,+Krak%C3%B3w,+ma%C5%82opolskie&amp;ll=50.039515,19.939441&amp;spn=0.011962,0.0318&amp;z=14" style="color:#0000FF;text-align:left"></a>
                </small>

            </article>
        </div>

        <footer>

            <div class="column_two_thirds column-footer-widget last">

                <div class="widget_text">
                    <!-- <h6 class="widgettitle">Skontaktuj sie</h6>
                -->
                <p>ul. Krasickiego 21/52, Kraków</p>
                <p>
                    Tel: +48 698 599 520
                        Mail:
                    <a href="mailto:wojciech.smajda@gmail.com">wojciech.smajda@gmail.com</a>
                </p>
            </div>

        </div>

    </div>

</footer>

</section>
</div>