<p>siema <%= @resource.email %>!</p>

<p>Tu mozesz sobie zmienic haslo</p>

<p><%= link_to 'zmien haslo', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>ten tekst tu byl nie potrzebny</p>
<p>ten tekst tu byl nie potrzebny</p>

